.footer {
  color: var(--color-white);
  background-color: var(--color-black);
  box-shadow: 0 -2px 7px 0 rgba(0,0,0,.5);
}

.footer div{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 13.3px;
}

.text-center {
  display: flex;
  justify-content: center;
}